<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>首页</title>
<!--<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>-->
</head>
<body>
	<input th:if="${session.user}==null" type="image" src="/images/qqLogin/Connect_logo_4.png"
		id="qqLogin" onclick="login()">

	<div th:if="${session.user}!=null">
		<ul>
			<li>openId:<span th:text="${session.user.openid}"></span></li>
			<li>token:<span th:text="${session.user.token}"></span></li>
			<li>userName:<span th:text="${session.user.userName}"></span></li>
			<li>性别:<span th:text="${session.user.gender}"></span></li>
			<li>头像:<img th:src="${session.user.avatarUrl}"/> </li>
		</ul>
	</div>
	<button th:if="${session.user}!=null" onclick="loginout()">注销</button>

	<center style="color: red; font-size: 200px;">Hello~~</center>

</body>
<script type="text/javascript">
	function login(){
	    location.href='https://graph.qq.com/oauth2.0/authorize?response_type=code&client_id=101499742&redirect_uri=http://www.iremember.club/login/afterLogin&state=1';
	}
	function loginout(){
        location.href='http://www.iremember.club/login/loginout';
	}
</script>
</html>