<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.dao.CronMapper">

 	<resultMap id="BaseResultMap" type="com.java.model.Cron" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="cron_name" property="cronName" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id,cron_name
	</sql>

	<select id="selectCronById" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from cron
		 where id= #{id}
	</select>

	<delete id="deleteCronById" >
		delete from cron
		 where id= #{id}
	</delete>

	<update id="updateCronById" >
		update cron 
		<set>
		<include refid="update_option"/>
		</set>

		 where id= #{id}
	</update>

	<select id="findCronList" parameterType="com.java.model.Cron" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from cron
		where 
1=1		<include refid="select_option" />
	</select>

	<insert id="insertCron" parameterType="com.java.model.Cron">
		insert into cron
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="cronName != null">
				cron_name,
			</if>
		</trim>
		values
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="cronName != null">
				#{cronName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<sql id="update_option">
		<if test="cronName != null">
			cron_name= #{cronName,jdbcType=VARCHAR},
		</if>
	</sql>

	<sql id="select_option">
		<if test="id != null">
			 and id= #{id,jdbcType=INTEGER}
		</if>
		<if test="cronName != null">
			 and cron_name= #{cronName,jdbcType=VARCHAR}
		</if>
	</sql>

</mapper>